{% include 'header.html.twig' %}
{% block body %}
    <ul class="list-group">
        {% for key,value in tournaments %}
            <li class="list-group-item">{{ value }}
                <form action="/tournaments/del" method="post">
                    <button class="btn btn-danger" type="submit" name="key" value="{{ key }}">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="/tournaments/add" method="post" class="addForm">
        <input type="text" name="name">
        <input class="btn btn-success" value="Добавить" type="submit">
    </form>

{% endblock %}

{% include 'footer.html.twig' %}